/* Add screen styles below */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
     --main-bg-color: #e9e9e9;
     --primary-text-color: #424242;
     --accent-color: #ff3f3c;
}

body {
  background: var(--main-bg-color);
  color: var(--primary-text-color);
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
  margin-bottom: 100px;
}

header h1 {
  margin: 0;
  font-weight: bold;
}

main {
  background: url('Polaroid\ \(2\).png') no-repeat center 200px;
  margin: 0 auto;
  width: 1000px;
  background-size: 800px 800px;
}


.hero {
    text-align: center;
    min-height: 800px;
}
.hero h2 {
    font-size: 9em;
    line-height: 1em;
    text-transform: uppercase;
    margin: 0;
}
.details {
  text-align: center;
  margin: 20px;
}

.details h3 {
  font-size: 2.5em; 
  font-weight: 900; 
  margin: 20px 0;
}
.details p {
  font-size: 1.2em;
  max-width: 800px;
  margin: 0 auto 30px;
}


.details ul li{
    list-style-type: none;
    margin: 10px 0;
    padding: 0 0 0 40px;
    text-align: left;
}

.details ul li.qr {
    background: url('qrcode-solid\ 1.svg') no-repeat  left;
    background-size: 25px 25px;
}
.details ul li.cloud {
    background: url('cloud-arrow-up-solid\ 1.svg') no-repeat center left;
    background-size: 25px 25px;
}
.details ul li.wifi {
  background: url('wifi-solid\ 1.svg') no-repeat center left;
  background-size: 25px 25px;
}
.details ul li.photos {
  background: url('photo-film-solid\ 1.svg') no-repeat center left;
  background-size: 25px 25px;
}

.cta input[type="text"] {
  padding: 15px 20px;
  border: 2px solid #d3d3d3;
  border-radius: 5px; 
  font-size: 0.8em; 
  width: 350px; 
  
  
}

.cta input[type="submit"] {
  padding: 10px; 
  background-color: #ff3f3c; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase; 
  font-size: 1.2em; 
  width: 200px; 
  
}
.cta h3 {
  font-size: 2.5em;
  font-weight: 900;
  margin: 20px 0;
}
.cta {
  text-align: center;
  margin: 20px;
}
.ctabox {
  display: inline-block;
  padding: 15px;
  margin-top: 20px;
  border: 2px solid #d3d3d3;
  border-radius: 10px;
  width: 700px;
  text-align: center;
  background-color: #D6D7D6
}

